@font-face {
    font-family: '';
    src: url('TenMinchoText-Regular-Alphabetic.eot');
    src: url('TenMinchoText-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('TenMinchoText-Regular-Alphabetic.woff2') format('woff2'),
        url('TenMinchoText-Regular-Alphabetic.woff') format('woff'),
        url('TenMinchoText-Regular-Alphabetic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

