{#
BLOG DETAIL
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'blog_detail' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
{% endblock javascript %}

{% block main %}
    
    <p>{{ name }}</p>
    <p>{{ blog_id }}</p>

{% endblock %}