{#
BLOG INDEX
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'blog_index' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
{% endblock javascript %}

{% block main %}
    
    <p>{{ name }}</p>

{% endblock %}