{#
BLOG TEMPLATE
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['blog', 'detail'] %}

{% block title %} {{ 'admin.blog.blog_management'|trans }} {% endblock %}
{% block sub_title %} {{ 'admin.blog.blog_management_detail'|trans }} {% endblock %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block javascript %}
{% endblock javascript %}

{% block main %}

<form role="form" name="blogForm" id="blogForm" method="post" action="">

	<div class="c-contentsArea__cols">
		<div class="c-contentsArea__primaryCol">
			<div class="c-primaryCol">

				<div class="card rounded border-0 mb-4">
				    <div class="card-header">
				        <div class="row">
				            <div class="col-8">
				                <div class="d-inline-block">
					                <span class="card-title">特選法要セットのタイプを選択してください。</span>
				                </div>
				            </div>
				        </div>
				    </div>
				    <div class="collapse show ec-cardCollapse" id="basicConfig">
				        <div class="card-body">
				           
				        </div>
				    </div>
				</div>

				<div class="card rounded border-0 mb-4">
				    <div class="card-header">
				        <div class="row">
				            <div class="col-8">
				                <div class="d-inline-block">
					                <span class="card-title">メイン商品設定</span>
				                </div>
				            </div>
				        </div>
				    </div>
				    <div class="collapse show ec-cardCollapse" id="basicConfig">
				        <div class="card-body">
                            <div class="row">
                                <div class="col-2"><span>NAME</span></div>
                                <div class="col-10 mb-2">
                                    {{ name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"><span>BLOG ID</span></div>
                                <div class="col-10 mb-2">
                                    {{ blog_id }}
                                </div>
                            </div>
				            <div class="row">
                                <div class="col-2"><span>メイン設定個数</span></div>
                                <div class="col-10 mb-2">
                                    <input type="text" id="bloginput" name="bloginput" required="required" class="form-control" value="">
                                </div>
                            </div>
							<div class="row">
                                <div class="col-2"><span>メイン設定可能商品リスト</span></div>
                                <div class="col-10 mb-2 blogBox" data-mainsub="1" data-action="add">
                                	<table id="blog_item" class="table table-bordered tableBlogs">
                                        <thead>
                                            <tr>
                                            	<th width="110">ID</th>
                                            	<th>画像</th>
                                                <th>商品名</th>
                                                <th width="73">変更</th>
                                                <th width="73">削除</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                    	
                                        </tbody>
                                    </table>
                                </div>
							</div>
				        </div>
				    </div>
				</div>

			</div>
		</div>
	</div>

	<div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem">
                    </div>
                </div>
                <div class="col-6">
                    <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.registration'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}