@charset "utf-8";

@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}

.inner {
    width: 950px;
    margin: 0 auto;
}


/*VALIDATE CONTACT*/
.error {
    display: block;
    font-size: 12px;
    color: red;
}


/* MENU */
.hambuger {
    width: 50px;
    height: 50px;
    padding: 0 5px;
    float: right;
    z-index: 9991;
    background: #ccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hambuger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hambuger span:nth-child(1) {
    margin-bottom: 10px;
}

.hambuger span:nth-child(2) {
    opacity: 1
}

.hambuger span:nth-child(3) {
    margin-top: 10px;
}

.hambuger.open span:nth-child(1) {
    margin-bottom: -2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hambuger.open span:nth-child(2) {

    opacity: 0;

}
.hambuger.open span:nth-child(3) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}




/* HEADER */
#header {
    width: 100%;
}


/* CONTENT */
#content {
    width: 100%;
}


/* FOOTER */
#footer {
    width: 100%;
}


.sp {
    display: none;
}


/* FIX TABLET */
@media(max-width: 1200px) and (min-width: 769px) {
    body {
        width: 1240px;
    }
}


/* STYLE MOBILE */
@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .inner {
        width: 100%;
        padding: 0 2.5%;
    }
}