@charset "utf-8";

/***************************************************************************
*
* INDEX STYLE
*
***************************************************************************/

h1{
	text-align: center;
	padding: 30px 0;
}