<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if Page.author is not empty %}
        <meta name="author" content="{{ Page.author }}">
    {% endif %}
    {% if Page.description is not empty %}
        <meta name="description" content="{{ Page.description }}">
    {% endif %}
    {% if Page.keyword is not empty %}
        <meta name="keywords" content="{{ Page.keyword }}">
    {% endif %}
    {% if Page.meta_robots is not empty %}
        <meta name="robots" content="{{ Page.meta_robots }}">
    {% endif %}
    {% if Page.meta_tags is not empty %}
        {{ include(template_from_string(Page.meta_tags)) }}
    {% endif %}
    <link rel="icon" href="{{ asset('assets/img/common/favicon.ico', 'user_data') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"> -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% block stylesheet %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>

    <!-- ADD COMMON STYLE HERE -->
    <!-- <link href="{{ asset('common/css/style.min.css?v=1') }}" rel="stylesheet">
    <link href="{{ asset('common/css/customize.css') }}" rel="stylesheet"> -->
    {# Layout: HEAD #}
    {% if Layout.Head %}
        {{ include('block.twig', {'Blocks': Layout.Head}) }}
    {% endif %}
    {# プラグイン用styleseetやmetatagなど #}
    {% if plugin_assets is defined %}{{ include('@admin/snippet.twig', { snippets: plugin_assets }) }}{% endif %}
</head>

<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }}">

    {# Layout: BODY_AFTER #}
    {% if Layout.BodyAfter %}
        {{ include('block.twig', {'Blocks': Layout.BodyAfter}) }}
    {% endif %}

    {# Layout: HEADER #}
    {% if Layout.Header %}
        <div id="header">
            {{ include('block.twig', {'Blocks': Layout.Header}) }}
        </div>
    {% endif %}

    {# Layout: CONTENTS_TOP #}
    {% if Layout.ContentsTop %}
        {{ include('block.twig', {'Blocks': Layout.ContentsTop}) }}
    {% endif %}

    <div id="content">
        {# Layout: SIDE_LEFT #}
        {% if Layout.SideLeft %}
            <div id="sidebarLeft">
                {{ include('block.twig', {'Blocks': Layout.SideLeft}) }}
            </div>
        {% endif %}


        <div id="mainContent">
            {# Layout: MAIN_TOP #}
            {% if Layout.MainTop %}
                {{ include('block.twig', {'Blocks': Layout.MainTop}) }}
            {% endif %}

            {# MAIN AREA #}
            {% block main %}{% endblock %}

            {# Layout: MAIN_Bottom #}
            {% if Layout.MainBottom %}
                {{ include('block.twig', {'Blocks': Layout.MainBottom}) }}
            {% endif %}
        </div>

        {# Layout: SIDE_RIGHT #}
        {% if Layout.SideRight %}
            <div id="sidebarRight">
                {{ include('block.twig', {'Blocks': Layout.SideRight}) }}
            </div>
        {% endif %}
    </div>

    {# Layout: CONTENTS_BOTTOM #}
    {% if Layout.ContentsBottom %}
        {{ include('block.twig', {'Blocks': Layout.ContentsBottom}) }}
    {% endif %}

    {# Layout: CONTENTS_FOOTER #}
    {% if Layout.Footer %}
        <div id="footer">
            {{ include('block.twig', {'Blocks': Layout.Footer}) }}
        </div>
    {% endif %}

    <div style="display: none;" class="ec-drawerRole">
        {# Layout: DRAWER #}
        {% if Layout.Drawer %}
            {{ include('block.twig', {'Blocks': Layout.Drawer}) }}
        {% endif %}
    </div>

    <!-- ADD SCRIPT FOOTER HERE -->
    <!-- <script src="{{ asset('common/js/main.js') }}"></script>
    <script src="{{ asset('common/js/customize.js') }}"></script> -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> -->
    {% include('@common/lang.twig') %}
    <script src="{{ asset('assets/js/function.js') }}"></script>
    <script src="{{ asset('assets/js/eccube.js') }}"></script>

    {% block javascript %}{% endblock %}
    {# Layout: CLOSE_BODY_BEFORE #}
    {% if Layout.CloseBodyBefore %}
        {{ include('block.twig', {'Blocks': Layout.CloseBodyBefore}) }}
    {% endif %}
    {# プラグイン用Snippet #}
    {% if plugin_snippets is defined %}
        {{ include('snippet.twig', { snippets: plugin_snippets }) }}
    {% endif %}
    
</body>
</html>
