{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
    <style>
        /* HOME STYLE */
    </style>
{% endblock %}

{% block javascript %}
    <script>
        // HOME SCRIPT
    </script>
{% endblock javascript %}

{% block main %}
    
    <!-- HOME CONTENT -->

{% endblock %}
